:root {
    --main-font-color: rgb(92, 64, 29);
    --button-border-color: rgb(176, 214, 205);
  }

body {
    text-align: center;
    font-size: medium;
    background-color: rgb(243, 234, 245);
    color: var(--main-font-color);
}

#title_header {
    /* Add styles for the title header */
}

#tab-container {
    /* Add styles for the tab container */
    font-size: 1.2rem;
}

#button-container {
    /* Add styles for the button container */
    max-width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    overflow-y: auto;
    
}

button {
    /* Add styles for buttons */
    font-size: 1rem;
    border-radius: 6px;
    border: 2px solid var(--button-border-color);
    margin: 3px;
    color: var(--main-font-color);
}

#tab-container button{
    /* Add styles for the tab container */
    font-size: 1.2rem;
}

textarea {
    /* Add styles for the output text box */
    display: block;
    width: 600px;
    height: 10em;
    font-size: 1rem;
    border-radius: 6px;
    margin: 20px auto;
    /*サイズ固定*/
    resize: none;
}

#copy-button{
    /* Add styles for the copy button */
    margin: 20px auto;
    font-size: 1.2rem;
}
